body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabecalho{
    background-color: rgb(68, 204, 136);
    text-align: center;
    padding: 25px;
}
h1{
    color: rgb(68, 68, 68);
    font-size: 2.5rem;
    font-style:bold;
    padding-bottom: 25px;
}
h2{
    color: rgb(68, 204, 136);
    font-size: 1.5rem;
    padding: 8px 0px;
}

.logowhite{
    color: white;
}

.cabecalho a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}

.cabecalho a:hover{
    background-color: aliceblue;
    color: rgb(68, 204, 136);;
}

#conteudo{

    width: 920px;
    margin: 0 auto;
    padding: 15px;
}

.esquerda{
    width: 60%;
    float: left;
}
.postagem{
    padding: 20px;
    margin-bottom: 30px;
}

.img1{
    width: 100%;
    margin-bottom: 25px;
}

.direita{
    width: 35%;
    float: right;
}

.rodape{
    background-color: rgb(68, 68, 68);
    clear: both;
    text-align: center;
    padding: 20px;
    color: white;
}

.postado{
    display: block;
    padding-bottom: 25px;
}

.lateral{
    background-color: rgb(68, 204, 136);
    color: rgb(255, 255, 255);
    padding: 10px;
}

h3{
    text-align: center;
}

.conteudo-lateral{
    padding: 10px;
    color: rgb(49, 49, 49);
    border-bottom: 1px dotted black;
}
.h2lateral{
    color: rgb(68, 204, 136);
    font-size: 1.2rem;
}

.central{
    width: 920px;
    margin: 10px auto;
}

.product{
    float: left;
    margin-bottom: 30px;
} 

.p-img{
    width: 280px;
    margin-bottom: 30px;
}
.central h3{
    text-align: left;
    background-color: rgb(68, 204, 136);
    color: white;
    margin: 10px 20px;
    padding: 10px;
}

.product p{
    margin: 30px 10px;
    text-align: center;
}

.product a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    background-color: rgb(42, 126, 84);
    padding: 10px;
    border-radius: 30px;
    margin: 10px 40px;
    display:block;
    text-align: center;
}

.product a:hover{
    background-color: rgb(66, 196, 131);
    color: white;

} 
