<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <table>
        <tr>
            <td>
                <a href="suporte.html">Suporte</a>
            </td>
            <td>
                <a href="index.html">Home</a>
            </td>
        </tr>
    </table>
</header>

<body>
    <form action="">
        <h1>CADASTRO</h1><br>

        <h1>Email</h1>
        <input type="text">

        <h1>Senha</h1>
        <input type="password">
        <h1>Confirme sua senha</h1>
        <input type="password">

        <h1>Sexo</h1>
        <input type="radio" name="1">Masculino
        <input type="radio" name="1">Feminino

        <h1>Estados</h1>
        <select name="estados" id="">
            <option value="sp">SP</option>
            <option value="mg">MG</option>
            <option value="rj">RJ</option>
        </select>

        <input type="submit">

    </form>

    <div>
        <a href="login.html">ja tenho cadastro</a>
    </div>


</body>

</html>