<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project blog</title>
    <link rel="stylesheet" href="\static\reset.css">
    <link rel="stylesheet" href="\static\index.css">
</head>

<body>
    <div id="container">
        <div class="cabecalho">
            <div class="logo">
                <h1>Dent<span class="logowhite">Blog</span></h1>

            </div>
            <div class="menu">
                <a href="index.html">Home</a>
                <a href="product.html">Produtos</a>
                <a href="info.html">Informações</a>
                <a href="suport.html">Suporte</a>
            </div>

        </div>

        <div id="conteudo">

            <div class="esquerda">
                <div class="postagem">
                    <h2>Primeira postagem</h2>
                    <span class="postado">Postado em 20 de abril </span>
                    <img class="img1" src="\img\1.jpg" alt="none">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus mollitia ad vitae reiciendis
                        illum ipsa aliquam non reprehenderit quod deserunt saepe earum explicabo nisi eum dolorem
                        cumque, maiores nobis numquam!</p>
                </div>

                <div class="postagem">
                    <h2>Segunda postagem</h2>
                    <span class="postado">Postado em 21 de abril </span>
                    <img class="img1" src="\img\1.jpg" alt="none">
                    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus mollitia ad vitae reiciendis
                        illum ipsa aliquam non reprehenderit quod deserunt saepe earum explicabo nisi eum dolorem
                        cumque, maiores nobis numquam!</p>
                </div>
            </div>


            <div class="direita">
                <div class="lateral">
                    <h3>Informações</h3>
                </div>
                <div class="conteudo-lateral">
                    <h2 class="h2lateral">lorem ipsun</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At consequuntur iusto ipsam
                        exercitationem neque nihil distinctio provident iste ipsum similique! Ullam asperiores,
                        blanditiis harum doloremque quod fugiat facilis laboriosam odio.</p>
                </div>
                <div class="conteudo-lateral">
                    <h2 class="h2lateral">lorem ipsun</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At consequuntur iusto ipsam
                        exercitationem neque nihil distinctio provident iste ipsum similique! Ullam asperiores,
                        blanditiis harum doloremque quod fugiat facilis laboriosam odio.</p>
                </div>
                <div class="conteudo-lateral">
                    <h2 class="h2lateral">lorem ipsun</h2>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. At consequuntur iusto ipsam
                        exercitationem neque nihil distinctio provident iste ipsum similique! Ullam asperiores,
                        blanditiis harum doloremque quod fugiat facilis laboriosam odio.</p>
                </div>
            </div>

            <div class="rodape">
                todos direitos reservados
            </div>
        </div>
    </div>

</body>

</html>