<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<header>
    <table>
        <tr>
            <td>
                <a href="suporte.html">Suporte</a>
            </td>
            <td>
                <a href="login.html">Login</a>
            </td>
        </tr>
    </table>
</header>

<body>
    <div>
        <h1>Lorem</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis possimus ab voluptatibus minus dolores
            eaque iusto nesciunt culpa, voluptates, quos ipsa officia fuga illo labore ut cupiditate. Nisi, corporis
            placeat!</p>

        <ul>
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
            <li>Lorem</li>
        </ul>

        <h1>Lorem</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis possimus ab voluptatibus minus dolores
                eaque iusto nesciunt culpa, voluptates, quos ipsa officia fuga illo labore ut cupiditate. Nisi, corporis
                placeat!</p>

        <h1>Lorem</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis possimus ab voluptatibus minus dolores
            eaque iusto nesciunt culpa, voluptates, quos ipsa officia fuga illo labore ut cupiditate. Nisi, corporis
            placeat!</p>
    </div>

</body>

<footer>


</footer>

</html>