<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    
</head>

<header>
    <table>
        <tr>
            <td>
                <a href="suporte.html">Suporte</a>
            </td>
            <td>
                <a href="index.html">Home</a>
            </td>
        </tr>
    </table>
</header>


<body>
    <form action="POST">
        <h1>login</h1>
        <input type="text" name="name" id="">

        <h1>senha</h1>
        <input type="password" name="senha" id="">

        <input type="submit">
    </form>

    <button>
        <a href="cadastro.html">Cadastre-se</a>
    </button>


</body>

<footer>

</footer>

</html>